.header{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    background-color: rgb(15, 15, 15);
    padding-inline: 20px;
    font-style:italic;
    color: aliceblue;
}
.headerButton{
    gap:10px;
    display: flex;
    justify-content:end;
    padding: 10px;
    color: aliceblue;
    font-size: 20px;
    text-decoration:none;
}
.imagens{
    display:flex;
    align-items: center;
    justify-content:space-around;
    padding-top: 10px;
}
.imagens img{
    width:300px;
    height: auto;
    border:solid black;
    padding-bottom: 40px;
    padding-inline: 40px;
    border-radius: 10px;
}
