.header{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    background-color: rgb(0, 0, 0);
    padding-inline: 20px;
    font-style:italic;
    color: aliceblue;
}
.headerButton{
    gap:10px;
    display: flex;
    justify-content:end;
    padding: 10px;
    color: aliceblue;
    font-size: 20px;
    text-decoration:none;
    padding-right: 40px;
}
.imagens{
    display:flex;
    align-items: center;
    justify-content:space-around;
    padding-top: 10px;
    
}
.imagens img{
    width:300px;
    height: auto;
    border:solid black;
    padding-bottom: 40px;
    padding-inline: 40px;
    border-radius: 10px;
    background-color: white;
}
.preco{
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 40px;
    
    

}
.informacao{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    gap:10px;
}
.branco{
    border: 1px,solid,black;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    background-color: white;
    margin-bottom: 50px;
}
.yellow{
    border: 1px,solid,black;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    background-color: yellow;
    margin-bottom: 50px;
}

.cyan{
    border: 1px,solid,black;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    background-color:cyan;
    margin-bottom: 50px;
}
h4{
    display:flex;
    justify-content:center;
}
    
