.header{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    background-color: rgb(15, 15, 15);
    padding-inline: 20px;
    font-style:italic;
    color: aliceblue;
}
.headerButton{
    gap:10px;
    display: flex;
    justify-content:end;
    padding: 10px;
    color: aliceblue;
    font-size: 20px;
    text-decoration:none;
    padding-right: 40px;}

.quiz{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}